.myimage{
    filter: brightness(60%);
}
.banner-fix{
    margin-bottom: 100px;
}
.custom-font{
    font-size:50px;
}
/* footer */
.footer-section{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-heading{
    font-size: 30px;
    color: whitesmoke;
}
.link{
    text-decoration: none;
    color: whitesmoke;
    padding-right: 15px;
}
.fa-brands.social{
    color: whitesmoke;
    padding-right: 30px;
    font-size: 35px;
}
 /* Responsive Using MediaQuries */

@media only screen and (max-width:576px){
    .sm-device{

        font-size: 14px;
    }
    .sm-device h1{
        font-size: 20px;
    }
    .text-position{
        text-align: center;
    }
    .company-hide{
        display: none;
    }
}
@media only screen and (min-width:576px) and (max-width:991px){
    .company-hide{
        display: none;
    }
}